#carOwnerForm {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 1rem auto;
}

#carOwnerForm .actions {
  display: flex;
  justify-content: space-around;
}

#carOwnerForm button {
  width: 45%;
}

.carOwnerContainer {
  display: flex;
  width: 80%;
  margin: 1rem auto;
}
